<div><!-- AppStates hook div -->
	<div class="slds-page-header" role="banner">
		<div class="slds-grid">
			<div class="slds-col slds-has-flexi-truncate">
				<div class="slds-media">
					<div class="slds-media__body">
					    <h1 class="slds-text-heading--large slds-m-right--small pcal-text-heading--inline slds-truncate slds-align-middle" title="Record Title">{{this.rangeDate}}</h1>
					    <div class="slds-form-element__control pcal-form-element--inline">
				          <select class="slds-select pcal-picklist__slim">
				            <option>Sony Calendar 1</option>
				            <option>Important Dates</option>
				            <option>Birthdays</option>
				          </select>
				        </div>
					</div>
				</div>
			</div>

			<div class="slds-col slds-no-flex slds-align-bottom">
			  <div class="slds-button-group" role="group">
			    <button class="slds-button slds-button--neutral" onclick="App.set('newEvent');">New Event</button>
			    <button class="slds-button slds-button--neutral" onclick="App.set('share');">Share</button>
			  </div>
			</div>
		</div>
		
		<div class="slds-grid slds-page-header__detail-row">
			<ul class="slds-tabs--default__nav" role="tablist">
				<li class="slds-tabs__item slds-text-heading--label {{#ifCond this.type '===' 'month'}}slds-active{{/ifCond}}" title="Month" role="presentation">
					<a href="#" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" onclick="App.getState('calendar').setView('month');return false;">Month</a>
				</li>
				<li class="slds-tabs__item slds-text-heading--label {{#ifCond this.type '===' 'week'}}slds-active{{/ifCond}}" title="Week" role="presentation">
					<a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" onclick="App.getState('calendar').setView('week');return false;">Week</a>
				</li>
				<li class="slds-tabs__item slds-text-heading--label {{#ifCond this.type '===' 'day'}}slds-active{{/ifCond}}" title="Day" role="presentation">
					<a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" onclick="App.getState('calendar').setView('day');return false;">Day</a>
				</li>
			</ul>
			<ul class="slds-tabs--default__nav pcal-tabs--stateless-nav" role="tablist">
				<li class="slds-tabs__item slds-text-heading--label pcal-tabs__item--large" title="Previous" role="presentation">
					<a href="#" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1">&lt;</a>
				</li>
				<li class="slds-tabs__item slds-text-heading--label pcal-tabs__item--slim" title="Today" role="presentation">
					<a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2">Today</a>
				</li>
				<li class="slds-tabs__item slds-text-heading--label pcal-tabs__item--large" title="Next" role="presentation">
					<a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3">&gt;</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="pcal-calendar pcal-calendar--{{this.type}}">
		<div class="pcal-calendar-head">
			{{#each this.headings}}
				<h3 class="pcal-calendar-heading"><span>{{this}}</span></h3>
			{{/each}}
		</div>
		<div class="pcal-calendar-body">
			{{#each this.dates}}
				<div class="pcal-calendar-cell {{#if this.past}}pcal-calendar-cell--past{{/if}} {{#if this.current}}pcal-calendar-cell--current{{/if}} {{#if this.otherMonth}}pcal-calendar-cell--other{{/if}}">
					<h3 class="pcal-calendar-cell-heading">{{this.date}}</h3>
					<ul>
					{{#ifCond ../this.type '===' 'month'}}
						{{#each this.events}}
							{{#ifCond @index '<' 4}}
								<li class="pcal-calendar-event slds-truncate pcal-calendar-event__{{this.type}}">
									<a href="">{{this.time}} {{this.content}}</a>
								</li>
							{{/ifCond}}
						{{/each}}
						</ul>
						{{#ifCond this.events.length '>' 4}}
							<a class="pcal-calendar-cell-more" href="">{{math this.events.length '-' 4}} more</a>
						{{/ifCond}}
					{{/ifCond}}
					{{#ifCond ../this.type '!==' 'month'}}
						{{#each this.events}}
							<li class="pcal-calendar-event slds-truncate pcal-calendar-event__{{this.type}}">
								<a href="">{{this.time}} {{this.content}}</a>
							</li>
						{{/each}}
					{{/ifCond}}
				</div>
			{{/each}}
		</div>
	</table>
</div>