<div class="pcal-modal">
  <div id="modal-target" aria-hidden="false" role="dialog" class="slds-modal">
    <div id="modal-content" class="slds-modal__container">
      
    </div>
  </div>
  <div id="modal-backdrop" class="slds-modal-backdrop slds-modal-backdrop--open"></div>
</div>
