<div> <!-- hook div needed to inject content -->
  <div class="slds-modal__header">
    <h2 class="slds-text-heading--medium">Sharing</h2>
    <p>Select the sharing rights then add a user.</p>
  </div>
  <div class="slds-modal__content">
    <form class="slds-grid pcal-grid--padded" onsubmit="App.getState('share').add();return false;">
      <div class="slds-form-element slds-size--1-of-3">
        <div class="slds-form-element__control">
          <select id="share-user-rights" class="slds-select">
            <option value="read">View Only</option>
            <option value="write">Edit</option>
          </select>
        </div>
      </div>
      <div class="slds-grid slds-form-element slds-size--2-of-3">
        <div class="slds-form-element__control slds-size--4-of-5">
          <input id="share-user-email" class="slds-input" type="text" placeholder="Enter an email..." />
        </div>
        <div class="slds-size--1-of-5">
          <button class="slds-button pcal-button--center">Add</button>
        </div>
      </div>
    </form>
    <div class="slds-text-heading--label">Shared With</div>
    <div id="share-list">
      {{#each this.shares}}
        <a href="" class="pcal-share pcal-share--{{this.rights}}">
          <strong>{{this.email}}</strong>
        </a>
      {{/each}}
    </div>
  </div>
  <div class="slds-modal__footer">
    <button class="slds-button slds-button--neutral" onclick="App.exit('share');">Cancel</button>
    <button class="slds-button slds-button--neutral slds-button--brand" onclick="App.getState('share').save();">Save</button>
  </div>
</div>