<div> <!-- hook div needed to inject content -->
  <div class="slds-modal__header">
    <h2 class="slds-text-heading--medium">New Event</h2>
    <p>I don't work yet!</p>
  </div>
  <div class="slds-modal__content">
    <div class="slds-form--stacked">
      <div class="slds-form-element">
        <label class="slds-form-element__label" for="inputSample3">Text Input</label>
        <div class="slds-form-element__control">
          <input id="inputSample3" class="slds-input" type="text" placeholder="Subject" />
        </div>
      </div>
      <div class="slds-form-element">
        <label class="slds-form-element__label" for="inputSample3">Text Input</label>
        <div class="slds-form-element__control">
          <input id="inputSample3" class="slds-input" type="text" placeholder="Date" />
        </div>
      </div>
      <div class="slds-form-element">
        <label class="slds-form-element__label" for="textareaSample3">Textarea Label</label>
        <div class="slds-form-element__control">
          <textarea id="textareaSample3" class="slds-textarea"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="slds-modal__footer">
    <button class="slds-button slds-button--neutral" onclick="App.exit('newEvent');">Cancel</button>
    <button class="slds-button slds-button--neutral slds-button--brand" onclick="App.exit('newEvent');">Save</button>
  </div>
</div>