@import "lightning/design-tokens";

/* TODO: if there's time, put all pcal attributes into variables; */

/* Pardot Specific */
body {
	padding-bottom: 75px;
}

#header {
	height: 50px;
	border-bottom: 1px solid $color-border;
	padding: 0 $spacing-large $spacing-small;
	background-color: $color-background;
}

#header-content {
	position: relative;
}

.temp-header-left,
.temp-header-right {
	position: absolute;
	top: 0;
	left: 0;
}

.temp-header-right {
	left: auto;
	right: 0;
}

.slds-page-header__detail-row,
#header-content,
.pcal-calendar,
.slds-page-header {
	max-width: 1200px;
	min-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

/* Calendar Grid */
.pcal-calendar {
	padding:0 $spacing-large;
}

.pcal-calendar-heading {
	position: relative;
	z-index: 1;
	bottom: -11px;
	text-align: center;
	color: $color-text-button-default-hint;
	text-align: center;
}

.pcal-calendar-heading span {
	display: inline-block;
	padding: 0 $spacing-x-small;
	background: #fff;
}

.pcal-calendar-body,
.pcal-calendar-head {
	display: flex;
	flex-wrap: wrap;
}

.pcal-calendar-heading,
.pcal-calendar-cell {
	flex: 1;
	flex-grow: 1;
	flex-basis: 14.28%;
}

.pcal-calendar-cell {
	position: relative;
	margin-right: -$border-width-thin;
	margin-bottom: -$border-width-thin;
	border: $border-width-thin solid $color-border;
	padding: 3px;
	height: 130px;
}

.pcal-calendar--week .pcal-calendar-cell,
.pcal-calendar--day .pcal-calendar-cell {
	height: 500px;
}

.pcal-calendar-cell * {
	position: relative;
	z-index: 1;
}

.pcal-calendar-cell--current:before {
	content: '';
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	border: $border-width-thick solid $color-border-brand;
}

.pcal-calendar-cell--past .pcal-calendar-cell-more,
.pcal-calendar-cell--past .pcal-calendar-event:before {
	opacity: .6;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.pcal-calendar-cell--past .pcal-calendar-event {
	background-color:#F9F9F9;
}

.pcal-calendar-cell--past .pcal-calendar-event a {
	color: $color-text-button-default-hint;
}

.pcal-calendar-cell-heading {
	padding: $spacing-xxx-small $spacing-xx-small;
}

.pcal-calendar-cell--other .pcal-calendar-cell-heading {
	color: $color-text-button-default-hint;
}

.pcal-calendar-event {
	margin: 0 0 3px;
	padding: 4px $spacing-xx-small 3px $spacing-large;
	font-size: $font-size-x-small;
}

.pcal-calendar-event:before {
	content: '';
	position: absolute;
	top: $spacing-xx-small;
	left: $spacing-xx-small;
	width: 16px;
	height: 16px;
	background: url("../images/pcal_event_icon_sprite.png") no-repeat;
}

.pcal-calendar-event__cloud {
	background-color:#F8DBF0;
}

.pcal-calendar-event__cloud a {
	color: #794D6D;
}

.pcal-calendar-event__webinar {
	background-color:#E5E0F7;
}

.pcal-calendar-event__webinar:before {
	background-position: 0 -16px;
}

.pcal-calendar-event__webinar a {
	color: #655892;
}

.pcal-calendar-event__email {
	background-color:#E8F5DE;
}

.pcal-calendar-event__email:before {
	background-position: 0 -32px;
}

.pcal-calendar-event__email a {
	color: #58803A;
}

.pcal-calendar-cell-more {
	position: absolute;
	top: $spacing-xx-small;
	right: $spacing-x-small;
	font-size: $font-size-small;
}

/* Share Modal */

#share-list {
	height: 200px;
	padding-top:$spacing-small;
	overflow: auto;
}

.pcal-share:link,
.pcal-share:visited {
	display: block;
	position: relative;
	max-height: 300px;
	margin: 0 0 $spacing-x-small;
	border-radius: $border-radius-medium;
	padding: $spacing-x-small $spacing-small $spacing-x-small 2.10rem;
	background-color: $color-background;
	color: $color-text-action-label;
	overflow: hidden;
	transition: max-height 500ms, padding-top 500ms, padding-bottom 500ms, margin 500ms;
}

.pcal-share:hover {
	text-decoration: none;
}

.pcal-share:before {
	content: '';
	position: absolute;
	top: .60rem;
	left: .60rem;
	width: 18px;
	height: 18px;
	transition: opacity 800ms;
}

.pcal-share--write:before {
	background: url("../images/lightning-mods/edit_16.png") no-repeat;
}

.pcal-share--read:before {
	background: url("../images/lightning-mods/preview_16.png") no-repeat;
}

.pcal-share--collapsed:link {
	max-height: 0;
	margin: 0;
	padding: 0;
}

.pcal-share--collapsed:before {
	opacity: 0;
}

.pcal-error {
	background-color: $color-background-error-alt;
}

.pcal-toast {
	position: fixed;
	bottom: 25px;
	left: 25%;
	z-index: 999;
	width: 50%;
	max-width: 1000px;
	margin: 0 auto;
	padding: $spacing-small;
	border-radius: $border-radius-large;
	background: $color-background-toast-success;
	font-size: $font-size-medium;
	transition: bottom 500ms;
	text-align: center;
	color: #fff;
}

.pcal-toast--hidden {
	bottom: -200px;
}

/* Lightning Overrides */
/* Note: All overridden modifiers use the "pcal" prefix */

/* Page Headers and Controls */
.slds-page-header {
	border: none;
	background: #fff;
}

.slds-page-header__detail-row {
	margin-top: $spacing-small;
}

.pcal-picklist__slim {
	margin-left: $spacing-large;
	border-radius: $border-radius-pill;
	font-size: $font-size-small;
	line-height: $font-size-x-large;
}

.pcal-form-element--inline,
.pcal-text-heading--inline {
	display: inline-block;
}

.pcal-tabs--stateless-nav {
	margin: 0 $spacing-large;
	border-bottom: none;
}

.pcal-tabs--stateless-nav .slds-active a {
	border-bottom: none;
	color:$color-text-action-label;
}

.pcal-tabs__item--large {
	font-size: $font-size-large;
}

.pcal-tabs__item--slim a {
	padding-right: 0;
	padding-left: 0;
}

/* Modal */
.slds-modal__close {
	color: #fff;
}

.pcal-modal,
.slds-modal-backdrop {
	height:0;
	opacity: 0;
}

.pcal-modal--visible {
	opacity: 1;
	height: auto;
}

/* Grid */
.pcal-grid--padded {
	padding-bottom: $spacing-medium;
}

.pcal-grid--padded .slds-form-element {
	padding-right: $spacing-medium;
}

.pcal-grid--padded .slds-form-element:last-child {
	padding-right: 0;
}

/* Buttons */
.pcal-button--center {
	display: block;
	margin: 0 auto;
}